@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Host Grotesk';
    color: var(--text-color);
}

:root {
    --tag-bg-col: #f7f4ff;
    --tag-text-col: #7125fe;
    --tag-bg-grad: linear-gradient(
        180deg,
        rgb(159, 101, 255) 0%,
        rgb(72, 57, 240) 100%
    );
    --border-col: #e4eaf4;
    --main-col: white;
    --shadow: 0px 8px 24px 0px rgba(4, 22, 43, 0.1);
    --shadow-lit: 0 4px 15px 0 var(--main-col);
    --bg: #fff;
    --bg-bg: white;
    --r: 10px;
    --text-color: black;
    --invert-text-color: white;
}

body {
    background: var(--bg-bg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#pub {
    display: flex;
    width: 100%;
    gap: 20px;
}

#pub>*,#pub #tag {
    transition: .35s ease;
}

#pub:hover>*,#pub:hover #tag {
    transition: .1s ease-out;
}

#pub #main {
    width: 100%;
    background-color: #fff3;
    outline: solid 1px var(--border-col);
    box-shadow: var(--shadow);
    border-radius: var(--r);
    position: relative;
    overflow: hidden;
}

#pub #main #top {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 10px;
    position: relative;
}

#pub #main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    border: solid 2px var(--bg-bg)
    box-shadow: var(--shadow);
    transition: all .3s ease;
}

#pub:not(:hover) #main {
    transition: all .5s ease-out;
    box-shadow: var(--shadow-lit);
    translate: 0 10px;
}

#pub {
    transition: all .5s ease-in-out;
}

#pub:not(:hover) {
    scale: .95;
}

#pub #pfp {
    translate: 0 0;
    transition: all .3s ease;
}

#pub:not(:hover) #pfp {
    transition: all .5s ease-out;
    translate: 0 10px;
}

#pub #main::after {
    content: '';
    position: absolute;
    width: 0%;
    aspect-ratio: 1 / 1;
    top: 50%;
    left: 50%;
    translate:-50% -50%;
    border-radius: 100px;
    background: var(--tag-bg-col);
    opacity: 0;
    transition: 1s ease;
}
#pub:hover #main::after {
    border-radius: var(--r);
    max-height: 100%;
    transition: .5s ease-out;
    width: calc(100% + 50px);
    opacity: 1;
}
#pub #main > * {
    z-index: 2;
}

#pub #main #top h1 {
    order: 2;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: normal;
}
#pub #main #top #tags {
    order: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    white-space: normal;
    text-wrap: auto;
    /* overflow-wrap: anywhere; */
    flex-wrap: wrap;
}
#tag {
    font-size: 15px;
    background: var(--tag-bg-col);
    color: var(--tag-text-col);
    border-radius: var(--r);
    padding: 3px 6px;
    position: relative;
    font-weight: normal;
}

#pub:hover #tag {
    color: var(--invert-text-color);
    background: transparent;
}

#pub #main #top #tag::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--r);
    background: var(--tag-bg-grad) !important;
    z-index: -1;
    left: 0;
    top: 0;
}

#pub #pfp {
    outline: solid 1px var(--border-col);
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: var(--tag-bg-col);
    position: relative !important;
    transition: 1.2s ease;
    display: flex;
    color: var(--invert-text-color);
    font-size: 5rem;
}

#pub:hover #pfp {
    box-shadow: var(--shadow);
    transition: all .3s ease-out;
}

#pub #pfp span {
    transition: all .3s ease-in-out;
}

#pub:hover #pfp span {
    color: var(--invert-text-color);
}

#pub #pfp::before {
    opacity: 0;
    background: var(--tag-bg-grad);
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index: 1;
    scale: 0;
    transition: all .3s ease-in-out;
}

#pub:hover #pfp::before {
    opacity: 1;
    scale: 1;
}

#pfp span {
    width: 70%;
    height: 70%;
    margin: auto;
    object-fit: cover;
    position: relative;
    z-index: 1;
    color: var(--text-color);
    translate: 15% -25%;
    pointer-events: none;
}

#pfp span * {
    z-index: 10;
}

p {
    margin: 5px 10px;
    opacity: .3;
    position: relative;
}




#search {
    display: flex;
}

#search > * {
    font-size: 20px;
    padding: 10px;
}

#search input {
    outline: none;
    width: 100%;
    border-radius: 50px 0 0 50px;
    border: solid 1px var(--border-col);
    box-shadow: var(--shadow);
}

#search button {
    outline: none;
    height: 100%;
    border: solid var(--border-col) 1px;
    border-left: none;
    aspect-ratio: 1 / 1;
    display: flex;
    padding: 0;
    margin: 0;
    background: #fdfdfd;
    box-shadow: var(--shadow);
    border-radius: 0 50px 50px 0;
    position: relative;
}

#search button::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: var(--tag-bg-grad);
    width: 100%;
    height: 100%;
    border-radius: 0 50px 50px 0;
    transition: .3s ease;
    opacity: 0;
}

#search button:hover::after {
    opacity: 1;
}
    
#search-icon {
    background: var(--tag-bg-grad);
    margin: 10%;
    width: 80%;
    height: 80%;
    mask-image: url('lupa.svg');
    mask-size: cover;
    z-index: 2;
    transition: .3s ease;
}

#search button:hover #search-icon {
    background: white;
}

button {
    background: var(--tag-text-col);
    outline: none;
    color: var(--tag-bg-col);
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: var(--shadow);
    transition: 1s;
}

button:active {
    box-shadow: var(--shadow-lit);
    transition: .3s;
    translate: 0 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: .9 !important;
    font-size: 15px;
}

footer > * {
    opacity: .8 !important;
}

a, a * {
    color: var(--tag-text-col) !important;
    text-decoration: none;
}

html:has(body.error) {
    display: flex;
}

body.error {
    margin: auto;
    height: min-content;
    text-align: center;
}

body.error > button {
    width: calc(100% - 40px);
    margin: 0 20px;
    cursor: pointer;
}

button {
    cursor: pointer;
}
